body{
    background-color: rgb(27, 26, 26);
}
h1{

display: flex;
justify-content: center;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    gap:400px;
}
button{
    margin-top: 40vh;
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}